@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
}

.swiper-slide {
  width: fit-content !important;
}

.swiper-container {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
